.checkbox {
  position: relative;
  right: 19%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  /* identical to box height */

  color: rgba(26, 59, 88, 0.61);
}
.checkbox span {
  position: relative;
  right: 28%;
  bottom: 4px;
}
.checkbox input {
  background: #329c89;
}
